{% extends 'base.html.twig' %}

{% block title %}Détail d'un stagiaire{% endblock %}

{% block body %}

    <h1>Fiche stagiaire</h1>

    <h3>{{ student.firstname }} {{ student.lastname }}</h3>
    <p>
        Sexe : {{ student.sexe }} <br>
        Date de naissance : {{ student.birthDate | date("d.m.Y") }} ({{ student.age }} ans) <br>
        Ville : {{ student.city }} <br>
        Email : {{ student.email }} <br>
        Téléphone : {{ student.phone }} <br>
    </p>


    <h2>Sessions prévues</h2>

    <ul>
        {% for session in student.sessions %}

        <li class="list-session"> <a href="{{ path('show_session', {'id': session.id}) }}"> <strong> {{ session.name }}
                </strong> (du {{ session.startDate | date('d.m.Y')}} au {{ session.endDate | date('d.m.Y') }})</a></li>
        {% endfor %}

    </ul>


{% endblock %}