{% extends 'base.html.twig' %}

{% block title %}Détail d'un stagiaire{% endblock %}

{% block body %}

    <h1>Fiche stagiaire</h1>

    <h2>{{ student.firstname }} {{ student.lastname }}</h2>
    <p> 
        Sexe : {{ student.sexe }} <br>
        Date de naissance : {{ student.birthDate | date("d.m.Y") }} ({{ student.age }} ans) <br>
        Ville : {{ student.city }} <br>
        Email : {{ student.email }} <br>
        Téléphone : {{ student.phone }} <br>
    </p>


   


{% endblock %} 