{% extends 'base.html.twig' %}

{% block title %}Détail d'un centre de formation{% endblock %}

{% block body %}

    <h1>Centre de formation de {{ formation }}</h1>

      
    {% if is_granted('ROLE_ADMIN') %} {#Si je suis admin#}
        <div class="btn-add">
            <a href="{{ path('new_session', {'formation_id': formation.id}) }}" class="btn btn-success">Ajouter une session</a>
        </div>
    {% endif %}  

    <h2>Sessions en cours</h2>


    <table class="table .table-striped">
        <thead>
            <tr>
                <th>Statut</th>
                <th>Intitulé de la formation</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Nb places théoriques</th>
                <th>Nb places réservées</th>
                <th>Nb places restantes</th>
            </tr>
        </thead>
        <tbody>
            {% for session in currentSessions %}
            <tr>
                <td> {% if session.nbPlacesRemaining == 0 %}
                    <a href="{{ path('show_session', {'id': session.id}) }}"><button class="btn btn-lg bg-danger">COMPLET</button></a>
                {% else %}
                    <a href="{{ path('show_session', {'id': session.id}) }}"><button class="btn btn-lg bg-success">DISPONIBLE</button></a>
                {% endif %}
                </td>
                <td><a href="{{ path('show_session', {'id': session.id}) }}" class="link-session">{{ session.name}}</td>
                <td>{{ session.startDate | date("d.m.Y") }}</td>
                <td>{{ session.endDate | date("d.m.Y") }}</td>
                <td>{{ session.nbPlaces }}</td>
                <td>{{ session.nbPlacesReserved }}</td>
                <td>{{ session.nbPlacesRemaining }}</td>
                {% if is_granted('ROLE_ADMIN') %} {# Si je suis admin #}
                    <td class="action"><a class="btn btn-warning btn-action" href="{{ path('edit_session', {'id': session.id, 'formation_id': session.formation.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a class="btn btn-danger" href="{{ path('delete_session', {'id': session.id, 'formation_id' : session.formation.id}) }}"><i class="fa-solid fa-trash"></i></a></td>
                {% endif %}  

            </tr>
            {% endfor %}
        </tbody>
    </table>


    <h2>Sessions passées</h2>


    <table class="table .table-striped">
        <thead>
            <tr>
                <th>Intitulé de la formation</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Nb places théoriques</th>
                <th>Nb places réservées</th>
                <th>Nb places restantes</th>
            </tr>
        </thead>
        <tbody>
            {% for session in pastSessions %}
            <tr>
                <td><a href="{{ path('show_session', {'id': session.id}) }}" class="link-session">{{ session.name}}</td>
                <td>{{ session.startDate | date("d.m.Y") }}</td>
                <td>{{ session.endDate | date("d.m.Y") }}</td>
                <td>{{ session.nbPlaces }}</td>
                <td>{{ session.nbPlacesReserved }}</td>
                <td>{{ session.nbPlacesRemaining }}</td>

                {% if is_granted('ROLE_ADMIN') %} {# Si je suis admin #}
                    <td class="action"><a class="btn btn-warning btn-action" href="{{ path('edit_session', {'id': session.id, 'formation_id': session.formation.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a class="btn btn-danger" href="{{ path('delete_session', {'id': session.id, 'formation_id' : session.formation.id}) }}"><i class="fa-solid fa-trash"></i></a></td>
                {% endif %}  

            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}