{% extends 'base.html.twig' %}

{% block title %}Listes des programmes{% endblock %}

{% block body %}


    <h1>Listes des programmes</h1>

    {% if is_granted('ROLE_ADMIN') %} {# Si je suis admin #}
        <div class="btn-add">
            <a href="{{ path ('new_program')}}" class="btn btn-success">Ajouter un programme</a>
        </div>
    {% endif %}
    

    <table class="table .table-striped">
        <thead>
            <tr>
                <th>Intitulé de la session</th>
                <th>Intitulé du module</th>
                <th>Nombre de jour(s)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for program in programs %}
            <tr>
                <td>{{ program.session }}</td>
                <td>{{ program.module }}</td>
                <td>{{ program.nbDays }} jours</td>
                <td><a class="btn btn-warning" href="{{ path('edit_program', {'id': program.id}) }}">
                    <i class="fa-solid fa-pen-to-square"></i></a>
                    <a class="btn btn-danger" href="{{ path('delete_program', {'id': program.id}) }}">
                    <iclass="fa-solid fa-trash"></i></a>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>


{% endblock %}