{% extends 'base.html.twig' %}

{% block title %}Ajouter un programme{% endblock %}

{% block body %}


    <h1>Ajouter un programme</h1>

    {{ form_start(formAddProgram) }}
    
    <div class="row">
        <div class="col-sm">
            {{ form_row(formAddProgram.session) }} 
        </div>
    </div> 
    <div class="row">
        <div class="col-sm">
            {{ form_row(formAddProgram.module) }} 
        </div>
        <div class="col-sm">

            {{ form_row(formAddProgram.nbDays) }} 
        </div>
    </div> 

    </div> 

    <div class="row">
        <div class="col-sm">
            {{ form_row(formAddProgram.valider) }}
        </div>
    </div> 
    
    {{ form_end(formAddProgram) }}
    
{% endblock %}
