{% extends 'base.html.twig' %}

{% block title %}Détail d'une session{% endblock %}

{% block body %}

    <h1>Détail de la session {{ session }}</h1>

     <table class="table .table-striped">
        <thead>
            <tr>
                <th>Module</th>
            </tr>
        </thead>
        <tbody>
         
        <p>
            Formation : {{session.formation}} <br>
            Date de début : {{session.startDate | date("d.m.Y")}} <br>
            Date de fin : {{session.endDate | date("d.m.Y")}} <br>
            Nombre de places : {{session.nbPlaces}} <br>
        </p>



{% endblock %} 