{% extends 'base.html.twig' %}

{% block title %}Détail d'une session{% endblock %}

{% block body %}

    <h1>Session {{ session }}</h1>

 <table class="table .table-striped">
        <thead>
            <tr>
               
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Nb places théoriques</th>
                <th>Nb places réservées</th>
                <th>Nb places restantes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
               
                <td>{{ session.startDate | date("d.m.Y") }}</td>
                <td>{{ session.endDate | date("d.m.Y") }}</td>
                <td>{{ session.nbPlaces }}</td>
                <td>{{ session.nbPlacesReserved }}</td>
                <td>{{ session.nbPlacesRemaining }}</td>
            </tr>
        </tbody>
    </table>
<br>

<h2 class="titre-module">Programme de la session</h2>

<table class="table .table-striped table-module">
    <thead>
        <tr>
            <th class="th-module">Module</th>
            <th class="th-module">Nombre de jours</th>
        </tr>
    </thead>
    <tbody>
        {% set currentCategory = null %}
        {% for program in programs %}
             {% if program.module.category != currentCategory %}
                <tr>
                    <td colspan="2" class="table-category">{{ program.module.category }}</td>
                </tr>
                <tr>
                    <td>{{ program.module }}</td>
                    <td>{{ program.nbDays }}</td>
                </tr>
                {% set currentCategory = program.module.category %}
            {% else %}
                <tr>
                    <td>{{ program.module }}</td>
                    <td>{{ program.nbDays }}</td>
                </tr>
            {% endif %} 
        {% endfor %}
    </tbody>
</table>

    



    <h2> Stagiaires inscrits</h2>

    {% if session.students is empty %}
        <p>Aucun stagiaire inscrit</p>
    {% else %}
        {% for student in session.students %}
            <p>
                <a href="{{ path('show_student', {'id': student.id}) }}">{{ student.firstname }} {{ student.lastname }}</a>
            </p>    
        {% endfor %}
    {% endif %}

<h2>Stagiaires non inscrits</h2>

{# {% if studentsNotRegistered is empty %}
    <p>Tous les stagiaires sont inscrits à cette session.</p>
{% else %} #}
    <ul>
        {% for student in notRegisteredStudents %}
            <li>
                {{ student.firstname }} </a>
            </li>
        {% endfor %}
    </ul>
{# {% endif %} #}





{% endblock %} 