{% extends 'base.html.twig' %}

{% block title %}Détail d'une session{% endblock %}

{% block body %}

    <h1>Détail de la session {{ session }}</h1>

 <table class="table .table-striped">
        <thead>
            <tr>
               
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Nb places théoriques</th>
                <th>Nb places réservées</th>
                <th>Nb places restantes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
               
                <td>{{ session.startDate | date("d.m.Y") }}</td>
                <td>{{ session.endDate | date("d.m.Y") }}</td>
                <td>{{ session.nbPlaces }}</td>
                <td>{{ session.nbPlacesReserved }}</td>
                <td>{{ session.nbPlacesRemaining }}</td>
            </tr>
        </tbody>
    </table>
<br>

<h2>Les modules de la session</h2>

<table class="table .table-striped">
    <thead>
        <tr>
            <th>Module</th>
            <th>Nombre de jours</th>
        </tr>
    </thead>
    <tbody>
        {% set currentCategory = null %}
        {% for program in programs %}
             {% if program.module.category != currentCategory %}
                <tr>
                    <td colspan="2" class="table-category">{{ program.module.category }}</td>
                </tr>
                <tr>
                    <td>{{ program.module }}</td>
                    <td>{{ program.nbDays }}</td>
                </tr>
                {% set currentCategory = program.module.category %}
            {% else %}
                <tr>
                    <td>{{ program.module }}</td>
                    <td>{{ program.nbDays }}</td>
                </tr>
            {% endif %} 
        {% endfor %}
    </tbody>
</table>

    



    {# <h2> Stagiaires inscrits</h2>

    {% if session.students is empty %}
        <p>Aucun stagiaire inscrit</p>
    {% else %}
        {% for student in session.students %}
            <p>
                <a href="{{ path('show_student', {'id': student.id}) }}">{{ student.firstname }} {{ student.lastname }}</a>
            </p>    
        {% endfor %}
    {% endif %}

 <h2> Inscriptions </h2>
 {% for student in students %}
        <option value="{{ student.id }}">{{ student.firstname }} {{ student.lastname }}</option>

 {% endfor %} #}

{% endblock %} 