{% extends 'base.html.twig' %}

{% block title %}Ajouter un module{% endblock %}

{% block body %}


    <h1>Ajouter un module</h1>

    {{ form_start(formAddModule) }}

    <div class="row">
        <div class="col-sm">
            {{ form_row(formAddModule.name) }}

        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            {{ form_row(formAddModule.category) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm">

            {{ form_row(formAddModule.valider) }}
        </div>
    </div>

    {{ form_end(formAddModule) }}



{% endblock %}